<!DOCTYPE html>
<html>
<head>
    <title>Guess the Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gng.css') }}">

</head>
<body>
    <h1>Guess the Number!</h1>
    <p class="{% if play_again == True %}message-green {% elif play_again == False %} message-red {% endif %}">{{ message }}</p>
    
    <form method="POST">
        <label for="guess">Enter your guess (1-100):</label>
        <input type="number" id="guess" name="guess" min="1" max="100" required>
        <button type="submit">Guess</button>
    </form>

    {% if play_again %}
        <a href="/play_again">Play Again?</a>
    {% endif %}
</body>
</html>
